body{
    width: 1500px;
    height: 1500px;
}


.firstrow{
    float: left;
    margin-left: 30px;
    margin-right: 20px;
}
.secondrow{
    float: left;
    margin-left: 30px;
    margin-right: 20px;
}
.thirdrow{
    float: left;
    margin-left: 30px;
    margin-right: 20px;
}

.forthrow{
    float: left;
    margin-left: 30px;
    margin-right: 20px;
}
